body {
    font-family: times, "Times New Roman";
}


.divHeader1 {
    background-color: #e6e6e6;
   
    text-align: center;
    
}

.divHeader2 {
    background-color: #c4c4c4;
    color: #005677;
    
    
  

}

.subtitulos {
    background-color: #c4c4c4;
    color: #005677;
    

}

section {

    width: 100%;
    height: 50px;
    
}


h1 {
    margin: 0px;

    font-weight: 700;
    line-height: 29.64 px;
    text-align: center;
    text-transform: uppercase;

}

h3 {
    Text-transform: uppercase;


}

span { 
    font-weight: bold;

}


